/* globals.css */
html, body {
  height: 100%;
  margin: 0;
}

:root {
  --background: url('/background2.jpeg') no-repeat center center fixed;
  --background-size: cover;
  --foreground: #171717;
  --primary-font: 'Arial', 'Helvetica', sans-serif;
  --heading-font: 'Playfair Display', serif;
}

body {
  background: var(--background); /* Background image applied */
  background-size: var(--background-size); /* Ensure image covers entire screen */
  font-family: var(--primary-font);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.download-button-container {
  position: relative;
  white-space: nowrap; /* Prevent text from wrapping */
}

.download-button-container div {
  display: block;
}
