/* globals.css */

:root {
  --background: #ffffff; /* Consistent white background */
  --foreground: #171717;
  --primary-font: 'Arial', 'Helvetica', sans-serif;
  --heading-font: 'Playfair Display', serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background); /* White background globally */
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.download-button-container {
  position: relative;
  white-space: nowrap; /* Prevent text from wrapping */
}

.download-button-container div {
  display: block;
}
