/* src/components/Gallery.module.css */

h1 {
  text-align: center;
  font-family: var(--heading-font); /* Use the global heading font */
  font-size: 36px; /* Larger font size */
  color: #555; /* Softer gray for the heading */
  margin-bottom: 40px;
}

.gallery {
  display: block;
  background-color: #fff; /* White background for the gallery area */
  padding: 20px;
  border-radius: 10px; /* Adds a little rounding for a softer look */
}

.gallery img {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Softer shadow on hover */
}
